

$brand : #004A89;


.head
{
    background-color: #D6F0FF;
    .header 
    {
        .logo
        {
            img 
            {
                width: 100%;
            }
        }
        ul 
        {
            padding-left: 0;
            margin: 0;
            padding-top: 10px;
            list-style: none;
            li 
            {
                display: inline;
                padding-left: 12px;
                color: #2D3171;
                &:hover
                {
                    color: #4054B2;
                }
            }
        }
    }
}

.navbar 
{
    background-color: $brand;
    nav
    {
        .mainnav 
        {
            padding: 0;
            margin: 0;
            .navitems
            {
                list-style: none;
                display: inline-block;
                position: relative;
                a 
                {
                    display: block;
                    padding: 0 15px;
                    color: white;
                    text-decoration: none;
                    line-height: 60px;
                    transition: 0.3s;
                    &:hover
                    {
                        color: #73777F;
                    }
                }
                .fdown
                {
                    li 
                    {
                        width: 310px;
                    }
                }
                &:hover
                {
                    .dropdown 
                    {
                        display: block;
                    }
                }
            }
            .dropdown
            {
                position: absolute;
                list-style: none;
                top: 60px;
                margin: 0;
                padding: 0;
                background-color: $brand;
                display: none;
                li 
                {
                    width: 200px;
                    display: list-item;
                    a 
                    {
                        line-height: 35px;
                    }
                }
                .navitem2 
                {
                    position: relative;
                    &:hover
                    {
                        .dropdown2
                        {
                            display: block;
                        }
                    }
                }
                .dropdown2
                {
                    margin: 0;
                    padding: 0;
                    display: none;
                    position: absolute;
                        top: -5px;
                        left: 200px;
                    li 
                    {
                        list-style: none;
                        
                        background-color: $brand;
                        a 
                        {
                            line-height: 40px;
                        }
                    }
                }
            }
        }
        .checkbtn , .checkbtn1
        {
            font-size: 30px;
            color: white;
            padding-top: 5px;
            cursor: pointer;
            display: none;
        }
        .checkbtn1
        {
            display: block;
            height: 10px;
            position: relative;
            left: -150px;
            top: -250px !important;
            z-index: 9;
            transition: 0.4s;
        }
        #click 
        {
            display: none;
        }
    }
}

.headhistory
{
    padding-top: 40px;
    padding-bottom: 70px;
    .col-lg-8
    {
        padding-right: 20px;
        border-right: 1px solid black;
    }
    .col-lg-4
    {
        padding-left: 30px;
    }
    .history
    {
        padding-right: 40px;
        h3 
        {
            color: $brand;
            padding-bottom: 20px;
        }
        img 
        {
            padding-bottom: 20px;
        }
    }
    .table
    {
        th 
        {
            background-color: $brand;
            color: white;
        }
        tr:hover
        {
            background-color: #F3F3F3;
        }
        .table.dataTable thead > tr > th.sorting:after, table.dataTable thead > tr > th.sorting_asc:after
        {
            opacity: 0.6;
        }
        .table.dataTable thead > tr > th.sorting:before, table.dataTable thead > tr > th.sorting_asc:before
        {
            opacity: 0.6;
        }
        .table.dataTable thead > tr > th.sorting:before, table.dataTable thead > tr > th.sorting_asc:before
        {
            bottom: 54%;
        }
    }
    h5 
    {
        color: $brand;
    }
    .spart
    {
        padding-left: 20px;
        .field
        {
            width: 74%;
            font-size: 14px;
            line-height: 1.8;
            padding: 6px 12px;
            vertical-align: middle;
            background-color: transparent;
            color: #333;
            border: 1px solid #ddd;
            border-radius: 3px;
        }
        .vacancy
        {
            color: $brand;
            padding: 16px 0;
        }
        .calendar
        {
            border-left: 5px solid $brand;
        }
        table
        {
            border-top: 2px solid black;
            border-bottom: 2px solid black;
            line-height: 40px;
            text-align: center;
            thead
            {
                padding: 10px 0;
                border-bottom: 0.3px solid rgb(136, 133, 133);
            }
        }
    }
}

.footer
{
    background-color: $brand;
    color: white;
    .fpart 
    {
        text-align: center;
        ul 
        {
            padding-left: 0;
            li
            {
                list-style: none;
                display: inline;
                a 
                {
                    padding-left: 10px;
                    color: white;
                }
            }
        }
        p 
        {
            padding: 10px 0;
        }
    }
    .spart
    {
        ul 
        {
            padding-left: 0;
            li 
            {
                list-style: none;
                display: inline; 
                a
                {
                    color: white;
                    padding-left: 10px;
                }
            }
        }
    }
    .tpart
    {
        ul 
        {
            li 
            {
                line-height: 34px;
                a 
                {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
    .fopart
    {
        line-height: 16px;
        ul 
        {
            li 
            {
                display: inline;
                padding-left: 10px;
                a 
                {
                    color: white;
                }
            }
        }
    }
    .copyright
    {
        border-top: 0.3px solid black;
        padding: 20px 0;
        p 
        {
            margin: 0;
        }
    }
}

.arrow
{
    z-index: 999;
    display: none;
    button
    {
        background-color: #73777F;
        border-radius: 2px;
        padding: 10px 14px;
        border: 0;
        position: fixed;
        bottom: 70px;
        right: 40px;
        color: white;
    }
}


@media(max-width:480px)
{
    .head 
    {
        .socials
        {
            text-align: center;
            li 
            {
                padding: 0 10px;
            }
        }
        .abouts 
        {
            font-size: 14px;
            text-align: center;
        }
    }
    nav 
    {
        .mainnav 
        {
            position: fixed;
            width: 100%;
            top: 0px;
            left: -100%;
            height: 100vh;
            text-align: center;
            background-color: $brand;
            transition: all .5s;
            .navitems
            {
                display: block !important;
            }
            a 
            {
                line-height: 34px !important;
            }
        }
        .checkbtn 
        {
            display: block !important;
            position: relative;
            left: 250px;
        }
        
        #click:checked ~ .mainnav
        {
            left: 0;
        }
        #click:checked ~ .checkbtn1
        {
            left: 250px;
        }
    }
    .history 
    {
        border: none !important;
    }
}